        body {
            font-family: Arial, sans-serif;
            /* Sets the font for the body */
            margin: 0;
            /* Removes default margins */
            background-color: #ffffff;
            /* Light gray background color */
            background-image: url("../images/a2.jpg");
            background-size: cover;          /* Image covers full body*/
            background-repeat: no-repeat;    /* No tiling*/
            background-position: center;     /* Centered */
                    height: 880px;
        }

        header {
        background-image: url("../images/a1.png");
        background-size: cover;          /* Cover the entire header area */
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;                   /* Set height for header to show image */
        color: white;
        text-align: center;
        padding: 20px;
        }
        /* for changing the color of the background of the  HOME ABOUT US COURSES ADMISSIONS AND CONTACT*/
        nav {
            background-color: #004080;
            /* Dark background for navigation bar */
            overflow: hidden;
            /* Prevents content from overflowing */
        }

        nav a {
            float: left;
            /* Aligns links to the left */
            color: white;
            /* Link text color */
            text-align: center;
            /* Centers text inside link */
            padding: 14px 20px;
            /* Padding around link text */
            text-decoration: none;
            /* Removes underline from links */
        }

        nav a:hover {
            background-color: #90c3c3;
            /* Changes background when mouse hovers */
        }

        .container {
            padding: 20px;
            /* Padding around content */
        }

        .welcome {
            background-color: white;
            /* White background for welcome box */
            padding: 20px;
            /* Padding inside the box */
            margin-bottom: 20px;
            /* Space below the box */
            border-radius: 8px;
            /* Rounded corners */
        }



        footer {
            background-color: #004080;
            /* Same dark blue as header */
            color: white;
            /* White text */
            text-align: center;
            /* Centered text */
            padding: 15px 0;
            /* Padding top and bottom */
            position: fixed;
            /* Footer stays at bottom of the screen */
            bottom: 0;
            /* Align to bottom */
            width: 100%;
            /* Full width */
        }